In [1]:
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import  Select
from selenium.webdriver.support import expected_conditions as EC

import pandas as pd
# import numpy as np
import time


position_dict = {'QB': 2, 'RB': 3, 'WR': 4, 'TE': 5}
week_dict = {"NFL Week 1": 7,"NFL Week 2": 6, "NFL Week 3": 5, "NFL Week 4": 4}
for key,val in week_dict.items():
    print(key, "=>", val)

driver = webdriver.Chrome()
driver.get("https://fantasy.espn.com/football/leaders")

NFL Week 1 => 7
NFL Week 2 => 6
NFL Week 3 => 5
NFL Week 4 => 4

In [2]:

def extract_table_to_dataframe(header_xpath: str, tBody_xpath: str) -> pd.DataFrame:
    # Extract the column names from the header row
    header_row = driver.find_element(By.XPATH, header_xpath)
    cols = header_row.find_elements(By.TAG_NAME, 'th')
    column_names = [col.text for col in cols]
    df = pd.DataFrame(columns=column_names)
    tbody = driver.find_element(By.XPATH, tBody_xpath)
    rows = tbody.find_elements(By.TAG_NAME, 'tr')
    for row in rows:
        temp_list = [col.text for col in row.find_elements(By.TAG_NAME, 'td')]
        df.loc[len(df)] = temp_list
    return df

In [3]:

final_df = pd.DataFrame()

for week, week_index in week_dict.items():
    dropdown = driver.find_element(By.XPATH, f'//*[@id="fitt-analytics"]/div/div[5]/div[2]/div[2]/div[1]/div/div[2]/div[5]/div/div[2]/select/option[{week_index}]')
    print(f'Week: {week}')
    dropdown.click()
    time.sleep(3)
    # Loop through positions
    for position, position_index in position_dict.items():
        print(f'Position: {position}')
        label = driver.find_element(By.XPATH, f'//*[@id="filterSlotIds"]/label[{position_index}]')
        label.click()
        while True: 
            time.sleep(3)
            start = time.time()
            header_row = '//*[@id="fitt-analytics"]/div/div[5]/div[2]/div[3]/div/div/div/div/div/div/table[1]/thead/tr[2]'
            tbody = '//*[@id="fitt-analytics"]/div/div[5]/div[2]/div[3]/div/div/div/div/div/div/table[1]/tbody'
            df1=extract_table_to_dataframe(header_xpath=header_row, tBody_xpath=tbody)
            header_row = '//*[@id="fitt-analytics"]/div/div[5]/div[2]/div[3]/div/div/div/div/div/div/div/div[2]/table/thead/tr[2]'
            tbody = '//*[@id="fitt-analytics"]/div/div[5]/div[2]/div[3]/div/div/div/div/div/div/div/div[2]/table/tbody'
            df2=extract_table_to_dataframe(header_xpath=header_row, tBody_xpath=tbody)
            header_row = '//*[@id="fitt-analytics"]/div/div[5]/div[2]/div[3]/div/div/div/div/div/div/table[2]/thead/tr[2]'
            tbody = '//*[@id="fitt-analytics"]/div/div[5]/div[2]/div[3]/div/div/div/div/div/div/table[2]/tbody'
            df3=extract_table_to_dataframe(header_xpath=header_row, tBody_xpath=tbody)  
            df_combined = pd.concat([df1, df2, df3], axis=1)
            df_combined['week'] = str(week)


            frames = [final_df, df_combined]
            final_df = pd.concat(
                frames,
                axis=0,
                join="outer",
                ignore_index=True,

                )
            try: 
                # button = driver.find_element(By.XPATH, f'//*[@id="fitt-analytics"]/div/div[5]/div[2]/div[3]/div/div/div/div/nav/button[2]')
                button = driver.find_element(By.XPATH, f'/html/body/div[1]/div[1]/div/div/div[5]/div[2]/div[3]/div/div/div/div/nav/button[2]')                                     
                if button.is_enabled():
                    button.click()
                    print(f'Next page {time.time() - start}')
                else:
                    print(f'End of Position {time.time() - start}')
                    break
            except Exception as e:
                print(f'Custom Exception {e}')
                break

Week: NFL Week 1
Position: QB
Next page 6.881794214248657
Next page 6.6249260902404785
End of Position 4.4178266525268555
Position: RB
Next page 7.381937742233276
Next page 6.773546934127808
Next page 7.201422929763794
Next page 9.372618675231934
Next page 7.905591249465942
End of Position 3.0818333625793457
Position: WR
Next page 7.954997777938843
Next page 7.600865602493286
Next page 7.753957033157349
Next page 7.5370659828186035
Next page 7.420897483825684
Next page 7.391992568969727
Next page 7.484809637069702
End of Position 7.536026954650879
Position: TE
Next page 8.393361568450928
Next page 8.467605352401733
Next page 8.325440406799316
Next page 7.785930395126343
End of Position 1.8181986808776855
Week: NFL Week 2
Position: QB
Next page 7.201899766921997
Next page 7.022955894470215
End of Position 4.400371789932251
Position: RB
Next page 7.359989404678345
Next page 8.152896165847778
Next page 8.123096466064453
Next page 7.875728368759155
Next page 7.825381755828857
End of Position 3.3192222118377686
Position: WR
Next page 7.290209770202637
Next page 7.091784715652466
Next page 7.127101898193359
Next page 7.198390245437622
Next page 12.777590990066528
Next page 7.490087985992432
Next page 8.329411029815674
End of Position 6.455842733383179
Position: TE
Next page 9.762609481811523
Next page 9.399107933044434
Next page 10.74250602722168
Next page 14.300589799880981
End of Position 4.03232216835022
Week: NFL Week 3
Position: QB
Next page 13.759045600891113
Next page 13.997350215911865
End of Position 8.163824081420898
Position: RB
Next page 13.36655592918396
Next page 12.602091312408447
Next page 14.414291858673096
Next page 12.986090660095215
Next page 16.823411464691162
End of Position 6.762581825256348
Position: WR
Next page 14.288623094558716
Next page 13.148663997650146
Next page 13.531611680984497
Next page 12.094759225845337
Next page 10.523107051849365
Next page 11.47425651550293
Next page 10.692178726196289
End of Position 8.949291706085205
Position: TE
Next page 13.378489255905151
Next page 14.324066400527954
Next page 11.66510534286499
Next page 11.284131288528442
End of Position 2.8429787158966064
Week: NFL Week 4
Position: QB
Next page 10.147759914398193
Next page 8.876524209976196
End of Position 4.521000146865845
Position: RB
Next page 8.902403831481934
Next page 7.688642740249634
Next page 8.850530862808228
Next page 6.825871706008911
Next page 7.168475866317749
End of Position 3.659782648086548
Position: WR
Next page 7.05076265335083
Next page 7.3774707317352295
Next page 7.073259353637695
Next page 8.200767278671265
Next page 7.184952020645142
Next page 6.665306329727173
Next page 7.480691432952881
End of Position 5.689902067184448
Position: TE
Next page 7.521068096160889
Next page 7.202878475189209
Next page 7.278118848800659
Next page 6.75607967376709
End of Position 1.6910123825073242

In [4]:
pd.set_option('display.max_rows', 2000)  # Set the maximum number of rows to display
pd.set_option('display.max_columns', 2000)  # Set the maximum number of columns to display
final_df.head()

,PLAYER,TYPE,ACTION,OPP,STATUS,PROJ,C/A,YDS,TD,INT,CAR,YDS,TD,REC,YDS,TD,TAR,2PC,FUML,TD,FPTS,week
0,Tua Tagovailoa\nMia\nQB,,,@LAC,W 36-34,17.6,28/45,466,3,1,5,5,0,0,0,0,0,0,1,0,27.14,NFL Week 1
1,Mac Jones\nNE\nQB,,,Phi,L 20-25,14.7,35/54,316,3,1,2,15,0,0,0,0,0,0,0,0,24.14,NFL Week 1
2,Jordan Love\nGB\nQB,,,@Chi,W 38-20,14.8,15/27,245,3,0,3,12,0,0,0,0,0,0,0,0,23.0,NFL Week 1
3,Anthony Richardson\nInd\nQB,,,Jax,L 21-31,17.2,24/37,223,1,1,10,40,1,0,0,0,0,0,0,0,20.92,NFL Week 1
4,Justin Herbert\nQ\nLAC\nQB,,,Mia,L 34-36,16.9,23/33,229,1,0,5,17,1,0,0,0,0,0,0,0,20.86,NFL Week 1

In [5]:
test_df = final_df.copy()


# Create empty columns for Name, Team, and Position
test_df['Name'] = ''
test_df['Team'] = ''
test_df['Position'] = ''

# Iterate through the DataFrame row by row
for index, row in test_df.iterrows():
    parts = row['PLAYER'].split('\n')
    if len(parts) == 4:
        # If there are 4 parts, the format is "Name\nQ/O/IR\nTeam\nPosition"
        test_df.at[index, 'Name'] = parts[0]
        test_df.at[index, 'Team'] = parts[2]
        test_df.at[index, 'Position'] = parts[3]
    elif len(parts) == 3:
        # If there are 3 parts, the format is "Name\nTeam\nPosition"
        test_df.at[index, 'Name'] = parts[0]
        test_df.at[index, 'Team'] = parts[1]
        test_df.at[index, 'Position'] = parts[2]
    

# Create the 'atHome' column based on the 'OPP' column
test_df['atHome'] = ~test_df['OPP'].str.contains('@')
test_df['OPP'] = test_df['OPP'].str.replace('@', '')

# front_columns = ['Name', 'Team', 'Position','OPP', 'atHome']
# test_df = test_df[front_columns + [col for col in test_df if col not in front_columns]]

# Extract the integer part from the 'week' column
test_df['week'] = test_df['week'].str.extract(r'(\d+)').astype(int)

# Split the 'STATUS' column into 'Won' and 'PointsScored'
test_df[['Won', 'PointsScored']] = test_df['STATUS'].str.split(' ', expand=True)
test_df['Won'] = test_df['Won'].map({'W': True, 'L': False})

test_df['PointsScored'] = test_df['PointsScored'].str.split('-').str[0]

test_df = test_df.replace({'--': 0, '--/--': '0/0'})
test_df.rename(columns={'C/A': 'CompletedPasses'}, inplace=True)
test_df['CompletedPasses'] = test_df['CompletedPasses'].str.split('/').str[0].astype(int)


to_drop = ['PLAYER','TYPE','ACTION','STATUS']
test_df.drop(columns=to_drop, inplace=True)

columns_to_move = ['Name', 'Position', 'Team', 'OPP','atHome','Won','PointsScored','PROJ']
test_df = pd.concat([test_df[columns_to_move], test_df.drop(columns=columns_to_move)], axis=1)


test_df.head(5)

,Name,Position,Team,OPP,atHome,Won,PointsScored,PROJ,CompletedPasses,YDS,TD,INT,CAR,YDS,TD,REC,YDS,TD,TAR,2PC,FUML,TD,FPTS,week
0,Tua Tagovailoa,QB,Mia,LAC,False,True,36,17.6,28,466,3,1,5,5,0,0,0,0,0,0,1,0,27.14,1
1,Mac Jones,QB,NE,Phi,True,False,20,14.7,35,316,3,1,2,15,0,0,0,0,0,0,0,0,24.14,1
2,Jordan Love,QB,GB,Chi,False,True,38,14.8,15,245,3,0,3,12,0,0,0,0,0,0,0,0,23.0,1
3,Anthony Richardson,QB,Ind,Jax,True,False,21,17.2,24,223,1,1,10,40,1,0,0,0,0,0,0,0,20.92,1
4,Justin Herbert,QB,LAC,Mia,True,False,34,16.9,23,229,1,0,5,17,1,0,0,0,0,0,0,0,20.86,1

In [6]:
test_df.to_csv('QB-RB-WR-TE.csv', index=False)

In [11]:
new_df = pd.read_csv('QB-RB-WR-TE.csv')
columns_to_fill = [
    'POINTS_SCORED', 'PROJ', 'COMP_PASSES', 'PASS_YDS', 'PASS_TD', 'INT',
    'RUSH_CAR', 'RUSH_YDS', 'RUSH_TD', 'RECEPTIONS', 'REC_YDS', 'REC_TD',
    'TAR', '2PC', 'FUML', 'MISC_TD', 'FPTS'
]

# Use fillna to replace NaN values with 0 for the specified columns
new_df[columns_to_fill] = new_df[columns_to_fill].fillna(0)

new_df.to_csv('QB-RB-WR-TE.csv', index=False)

In [2]:
df = pd.read_csv('QB-RB-WR-TE.csv')

In [9]:
pd.set_option('display.max_columns', None)

df.head()

,NAME,POSITION,TEAM,OPP,AT_HOME,WON,POINTS_SCORED,PROJ,COMP_PASSES,PASS_YDS,PASS_TD,INT,RUSH_CAR,RUSH_YDS,RUSH_TD,RECEPTIONS,REC_YDS,REC_TD,TAR,2PC,FUML,MISC_TD,FPTS,WEEK
0,Tua Tagovailoa,QB,Mia,LAC,False,True,36.0,17.6,28,466,3,1,5,5,0,0,0,0,0,0,1,0,27.14,1
1,Mac Jones,QB,NE,Phi,True,False,20.0,14.7,35,316,3,1,2,15,0,0,0,0,0,0,0,0,24.14,1
2,Jordan Love,QB,GB,Chi,False,True,38.0,14.8,15,245,3,0,3,12,0,0,0,0,0,0,0,0,23.00,1
3,Anthony Richardson,QB,Ind,Jax,True,False,21.0,17.2,24,223,1,1,10,40,1,0,0,0,0,0,0,0,20.92,1
4,Justin Herbert,QB,LAC,Mia,True,False,34.0,16.9,23,229,1,0,5,17,1,0,0,0,0,0,0,0,20.86,1